:root {
    --dark-purple: #504B84;
    --light-purple: #8B84EE;
    --white: #F3ECFF;
    --green: #00C898;

    --primary-color: var(--dark-purple);
    --secondary-color: var(--white);
    --tertiary-color: var(--light-purple);
    --accent-color: var(--green)
}

.bg-primary {
    color: var(--primary-color);
}

.bg-secondary {
    color: var(--secondary-color);
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    font-size: 100%;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    margin: 1vw 0 0 1vw;
}

#home-main-block {
    float: left;
    margin: 10vh 0 0 10vw;
    width: 80vw;
}

#home-title {
    font-size: 5em;
}
#home-subtitle {
    padding-right: 10%;
    width: 35vw;
    float: left;
}

#home-img {
    width: 40%;
    padding-right: 10%;
    float: right;
}

#page-content a {
    color: var(--accent-color);
}

.nav {
    float: right;
    width: 50%;
    font-size: 1.2em;
    color: var(--accent-color);
}

.nav-item > *, .nav-item > *:visited{
    text-decoration: none;
    color: inherit;
    font-size: 2em;
}

.nav-item > *:hover {
    text-decoration: none;
    color: inherit;
    filter: brightness(85%);
}



/* Phones */
@media (min-width: 0px) and (max-width: 767px) {
    

}


/* Tablets */
@media (min-width: 768px) and (max-width: 991px) { 
    
}


/* Desktops */
@media (min-width: 992px) { 


}


